      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Start Bootstrap 2019</span>
      </center>
      <p id="cookieMessage"></p>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Wylogować?</h5>
        </div>
        <div class="modal-body">Czy napewno chcesz się wylogować?</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Nie</button>
          <a class="btn btn-primary" href="/logout">Wyloguj</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="http://rkubapl.malopolska.pl:8888/dash/vendor/jquery/jquery.min.js"></script>
  <script src="http://rkubapl.malopolska.pl:8888/dash/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="http://rkubapl.malopolska.pl:8888/dash/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="http://rkubapl.malopolska.pl:8888/dash/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="http://rkubapl.malopolska.pl:8888/dash/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="http://rkubapl.malopolska.pl:8888/dash/js/demo/chart-area-demo.js"></script>
  <script src="http://rkubapl.malopolska.pl:8888/dash/js/demo/chart-pie-demo.js"></script>

  <script>
    let cookieMessage = document.getElementById("cookieMessage");
    if(localStorage.getItem("cookieAccept") !== "true") {
      let cookieHTML = `
<p id="ciasto">Ta strona uzywa <a href="http://wszystkoociasteczkach.pl/">Ciasteczek (kliknij po info)</a> <button type="button" class="btn btn-outline-success" onclick="cookieAccept();">Akceptuje</button>  <a href="http://google.com" class="btn btn-outline-danger">Nie akceptuje</a></p>
      `;
      cookieMessage.innerHTML = cookieHTML;
    }
    function cookieAccept() {
      localStorage.setItem("cookieAccept", "true");
      cookieMessage.innerHTML = "";
    }
  </script>
</body>

</html>