 <% include ./bloki/header %>


        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">

          </div>

          <!-- Content Row -->
   
          <!-- Content Row -->
            <!-- Content Row -->
     
    



          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-10">
              <div class="card shadow mb-5">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Dashboard</h6>
                                 </div>
                <!-- Card Body -->
                <div class="card-body">
                        <% 
user.guilds.forEach(guild => {
const permsOnGuild = new perms(guild.permissions);

    if(!permsOnGuild.has("MANAGE_GUILD")) return;
           %>
        <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= guild.name %></h5>
              <% if(client.guilds.get(guild.id)) {%> 
            <a href="/dashboard/<%= guild.id %>" class="btn btn-primary">Zarządzaj serwerem</a>
            <% } else { %>
<a href="https://discordapp.com/oauth2/authorize?client_id=<%= client.user.id %>&scope=bot&guild_id=<%= guild.id %>&response_type=code&redirect_uri="http://rkubapl.malopolska.pl/info" class="btn btn-danger">Dodaj bota na ten serwer</a>
            <% } %>
            </div>
          </div>
         <% }) %>

                  <!-- <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                  </div> -->
                </div>
              </div>
            </div>

            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
 <% include ./bloki/footer %>
