<%- include("dash-bloki/header-nonav", {bot, user}) %>
      <section id="serwery">
        <div class="container has-text-centered">
            <div class="notification is-danger">
              Nie jesteś adminem na tym serwerze lub nie ma na nim bota.<br>
              Jak nie ma bota to możesz go dodać <strong>tym linkiem: <a href="https://tiny.pl/tc8cb">https://tiny.pl/tc8cb</a></strong><br><br>
              Jak to nadal nie tego wina to napisz do nas na serwerze supportu a my postaramy się pomóc.      
            </div>
        </div>
      </section>
<%- include("dash-bloki/footer", {bot, user}) %>