<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard CBOTA</title>
    <style>
    @import url(https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css);
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-extensions@4.0.0/dist/css/bulma-extensions.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/dist/js/bulma-extensions.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
      nav {
        background-color: #2f3136 !important;
      }
      section, html, body {
        background-color: #36393f !important;
      }
      .txt, h3, .label {
        color: #ffffff !important;
      }
      .button-dark {
        color: #ffffff !important;
      }
      .button-dark:hover, .button-dark:active {
        color: #0a0a0a !important;
      }
    </style>
  </head>
  <body>
      <br>